<p id="notice"><%= notice %></p>

<div class="col-md-12">
  <h1>Meetings</h1>
  <div style="margin-left: 90%;">
    <%= link_to("New meeting", new_meeting_path, class: "btn btn-primary btn-sm") %>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @meetings.each do |meeting| %>
        <tr>
          <td><%= link_to(meeting.title, meeting_path(meeting)) %></td>
          <td><%= meeting.description %></td>
          <td><%= link_to 'Edit', edit_meeting_path(meeting), class: "btn btn-default" %></td>
          <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
